<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="market.feed.FeedMapper">
    <insert id="insFeed">
        insert into feed
        ( title, contents, sellNbuy, userNum, nm)
        values
        (#{title}, #{contents}, #{sellNbuy}, #{userNum}, #{nm})
    </insert>

    <select resultType="market.feed.model.FeedEntity" id="selFeed">
        select * from feed
        order by feedNum desc
        limit #{count}, 10
    </select>

    <select resultType="market.feed.model.FeedEntity" id="selDetail">
        select * from feed
        where feedNum = #{feedNum}
    </select>

    <delete id="delFeed">
        delete from feed
        where feedNum = #{feedNum}
    </delete>

    <update id="update">
        update feed
            set title = #{title},
                contents = #{contents}
        where feedNum = #{feedNum}
    </update>

    <select id="feedCount" resultType="int">
        select count(*) from feed
    </select>

    <select id="search" resultType="market.feed.model.FeedEntity">
        select *
        from feed
        where ${value} LIKE CONCAT('%', #{ctnt}, '%')
        limit 0, 10
    </select>

    <select id="searchL" resultType="market.feed.model.FeedEntity">
        select *
        from feed
        where ${value} LIKE CONCAT('%', #{ctnt}, '%')
        limit #{count}, 10
    </select>

    <select id="selSearch" resultType="int">
        select count(*)
        from feed
        where ${value} like concat('%', #{ctnt}, '%')
    </select>

    <insert id="insImg">
        insert into feedimg
        (imgName, feedNum)
        values
        ( #{imgName}, #{feedNum})
    </insert>

    <select id="selFeedNum" resultType="int">
        select feedNum from feed
        where title = #{title} and contents = #{contents}
    </select>
</mapper>