<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="market.user.UserMapper">
    <insert id="join">
        insert into user
            ( id, pw, nm, tel, email)
        values
            ( #{id}, #{pw}, #{nm}, #{tel}, #{email})
    </insert>

    <select resultType="market.user.model.UserEntity" id="selUser">
        select * from user
        where id = #{id}
    </select>
</mapper>