<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default_layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/login.css" />
</th:block>

    <div id="content" layout:fragment="content">
        <form th:action="@{login}" method="post" th:object="${param}">
            <div id="loginArea">
                <input class="login" type="text" th:field="*{id}" autofocus required>
                <input class="login" type="password" th:field="*{pw}" required>
                <input class="login" type="submit" value="로그인">
            </div>
        </form>
    </div>


</html>