<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default_layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/test/test.css" />
</th:block>

    <div layout:fragment="content">
        <form th:action="@{login}" method="post" th:object="${param}">
            <div><input type="text" th:field="*{id}" autofocus required></div>
            <div><input type="password" th:field="*{pw}" required></div>
            <div><input type="submit" value="로그인"></div>
        </form>
    </div>


</html>