<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
  </head>

  <body>
    <th:block th:replace="fragment/header :: headerFragment"></th:block>
    <div id="flex">
        <th:block th:replace="fragment/sidebar :: sidebarFragment"></th:block>
        <th:block layout:fragment="content"></th:block>
    </div>
    <th:block th:replace="fragment/footer :: footerFragment"></th:block>
  </body>
</html>