<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="join.css" type="text/css">
</head>
<body>
<!--    <script th:if |${msg}| != null th:inline="javascript">-->
<!--        var msg = [[${msg}]];-->
<!--        alert(msg);-->
<!--        location.replace([[${href}]]);-->
<!--    </script>-->

    <form id="joinBox" th:object="${user}" action="join" method="post" >
        아이디 : <input type="text" th:field="*{id}" placeholder="아이디..">
        비밀번호 : <input type="password" th:field="*{pw}" placeholder="비밀번호..">
        비밀번호 확인 : <input type="password" th:field="*{pwc}" placeholder="비밀번호 확인..">
        이메일 : <input type="text" th:field="*{email}" placeholder="이메일..">
        전화번호 : <input type="text" th:field="*{tel}" placeholder="-를 빼고 입력해주세요.">
        <input type="submit" value="회원가입">
    </form>
</body>
</html>