<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default_layout">>
  <div layout:fragment="content">
    <form th:action="@{write}" method="post" th:object="${write}">
      <div>제목 : <input type="text" th:field="*{title}"></div>
      <div>내용 : <input type="text" th:field="*{contents}"></div>
      <div>구매 : <input type="radio" th:field="*{sellNbuy}" value="1" checked>
        판매 : <input type="radio" th:field="*{sellNbuy}" value="2">
      </div>
      <input type="submit" value="글쓰기">

    </form>
  </div>
</html>